/*Sofia Pro Bold
font-family: sofia-pro, sans-serif;
font-weight: 700;
font-style: normal;

Sofia Pro Bold Italic
font-family: sofia-pro, sans-serif;
font-weight: 700;
font-style: italic;

Sofia Pro Regular
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: normal;

Sofia Pro Regular Italic
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: italic;

Sofia Pro Light
font-family: sofia-pro, sans-serif;
font-weight: 300;
font-style: normal;

Sofia Pro Extra Light
font-family: sofia-pro,sans-serif;
font-weight: 200;
font-style: normal;

Sofia Pro Ultra Light
font-family: sofia-pro,sans-serif;
font-weight: 100;
font-style: normal;
*/
	
* {
/*  outline: 1px solid red;
*/  box-sizing: border-box;
} 

html {
  width: 100vw;
  font-size: 18px;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #000000;
  margin: 0;
  line-height: 1.5rem;
  letter-spacing: .01rem;
}

a:link, a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
	color: #ca2e55;
}

h2 {
	font-size: 1.5rem;
}

.main {
	width:100vw;
  max-width: 1150px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.navBar {
	display: flex;
	justify-content: flex-end;
}

.nav {
	margin: 20px;
}

.navItem {
	padding: 10px;
}

.logoDiv {

}

.logoFirst {
	margin: 0;
	position: absolute;
	top:380px;
	left:0;
	font-size: 80px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
	text-transform: uppercase;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
}

.logoLast {
	margin: 0;
	position: absolute;
	top:300px;
	left:60px;
	font-size: 80px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
	text-transform: uppercase;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
}

.aboutMe {
/*	padding: 50vh 20px 10px 20px;*/
  margin-top: 50vh;
	width: 50vw;
	max-width: 600px;
	align-self: flex-end;
}

.scroll {
	margin: 60px auto 60px auto;
}

.scroll > i {
	font-size: 60px;
}

.aboutMe > p > i {
	position: relative;
	top:5px;
	color: #ca2e55;
	animation: animateHeart 3s infinite;
}
	@keyframes animateHeart {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}

.middleContainer {
  width: 100vw;
  background-color: #E8E8E8;
}

.middle {
	padding-top: 120px;
	background-color: #E8E8E8;
	display: flex;
	flex-direction: column;
	width:100vw;
  max-width: 1150px;
  margin: auto;
}

.resume {
	width: 50vw;
	max-width: 600px;
	align-self: flex-end;
/*	margin-right: 20px;
	padding: 0 30px 10px 50px;*/
}

.eachPosition{
  margin: 2rem 0;
}   

.resume > h2 {
	margin: 10px 0 10px;
  color: white;
  background-color: black;
  padding: 2px 0 8px 5px;
}

.resume > div > h3 {
	font-weight: 300;
  margin-bottom: .0;
}

.resume > div > ul {
	margin: 0 0 1rem 0;
	padding-left: 20px;
  list-style-type: square;
}

.resume > div > ul > li {
  font-weight: 300;
  letter-spacing: .01rem;
}

.resume > div > .date {
	font-size:.9rem;
	padding-left: 1rem;
  margin-left: -240px;
  margin-bottom: -46px;
}

.resume > div > p {
  font-size:.9rem;
  margin: .4rem 0;
  line-height: 1.3rem;
}

.resume > div > p.schoolDescription {
  font-size:1rem;
  margin: .4rem 0;
  line-height: 1.3rem;
  padding-top: 4px;
}

.position {
  margin-bottom: 0;
  font-weight: 300;
  margin: 0 0 0 22px;
  font-size:.9rem;
  color: #717070;
}

.resume > div > .technologies {
  margin-bottom: .4rem;
  font-weight: 300;
  color: #717070;
}

.resume > div > .date {
  margin-top: 0;
  color: #717070;
}

@media only screen and (max-width: 600px) {

  .logoFirst {
    left:6px;
  }

  .resume {
    width: 100vw;
    padding: 5% 5% 8%;
  }

  .resume > div > .date {
    margin: 0;
    padding: 0;
  }

  .resume > div > h3 {
    margin-top: .4rem;
  }

  .aboutMe {
    padding-right: 5%;
  }

}