body {
  font-family: Sailec-Regular;
  background-color: #f8f8f8;

}
html {
width: 100vw;
}

.main {
  max-width: 900px;
  /* TODO: change to 1150? */
  margin: auto;
}

.headerContainer {
  position: relative;
  width: fit-content;
  margin: auto;
  background-color: white;
  padding: 40px 70px;
}

.headerH1Top {
  text-align: center;
  font-size: 16px;
  margin-top: 0;
}

.headerH2Top {
  text-align: center;
  font-family: Surveyor;
  font-size: 26px;
  margin: 0;
}

.imgContainer {
  max-width: 900px;
  /* TODO: change to 1150 */
  display:inline-block;
  height:;
  margin:auto;
}

.roomImg {
  margin-top: -3%;
  width: 100%;
  max-width: 900px;
  /* TODO: change to 1150 */
  z-index: -1;
}

.BtmDiv {
  display: flex;
}

.stylesDiv h3 {
  color: #F6C4BD;
  font-size: 12px;
  text-transform: uppercase;
}

.stylesList {
  column-count: 2;
  padding-left: 0;
  font-size: 13px;
}

.stylesList li{
  list-style-type: none;
  width: 50%;
  margin: 0;
}
.stylesList li:before {
  content: "• ";
  /* TODO: turn into a checkmark */
}

.LtBtm {
  width: 50%;
}
.blurbText {
  font-family: Surveyor;
  font-size: 22px;
}

.blurbText::first-letter {
  font-size: 200%;
}

.RtBtm {
  background-color: white;
}

.clientStyleDeets {
  column-count: 2;
}

.clientStyleDeets dd {
  margin:0;
}
.clientStyleDeets dt {
  margin:0;
}
