body {
  /*font-family: Sailec-Regular;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*  background-color: #f8f8f8;
  color: #1C2233;*/
}

html {
  width: 100vw;
}

.main {
  max-width: 1150px;
  margin: auto;
}