.footerDivGrey {
  display: flex;
  justify-content: center;
  font-size: .6em;
  background-color: #E8E8E8;
  height: 20vh;
}

.footerDivWhite {
  display: flex;
  justify-content: center;
  font-size: .6em;
}