/*Sofia Pro Bold
font-family: sofia-pro, sans-serif;
font-weight: 700;
font-style: normal;

Sofia Pro Bold Italic
font-family: sofia-pro, sans-serif;
font-weight: 700;
font-style: italic;

Sofia Pro Regular
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: normal;

Sofia Pro Regular Italic
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: italic;

Sofia Pro Light
font-family: sofia-pro, sans-serif;
font-weight: 300;
font-style: normal;

Sofia Pro Extra Light
font-family: sofia-pro,sans-serif;
font-weight: 200;
font-style: normal;

Sofia Pro Ultra Light
font-family: sofia-pro,sans-serif;
font-weight: 100;
font-style: normal;
*/

* {
  /*  outline: 1px solid red;
*/
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  color: #000000;
  margin: 0;
  line-height: 1.5rem;
  letter-spacing: .01rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #ca2e55;
}

h2 {
  font-size: 1.5rem;
  margin: 20px 0 10px;
  color: white;
  background-color: black;
  padding: 2px 0 8px 5px;
  margin: 2rem 0;
}

h3 {
  font-weight: 300;
  margin-bottom: .0;
}

.fullGreyBackgroundDiv {
  width: 100%;
  background-color: #E8E8E8;
}

.active {
  color: #ca2e55;
  font-weight: bold;
}

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.topContent2 {
  margin-top: 20px;
  width: 50vw;
  max-width: 600px;
}


.middle {
  padding-top: 120px;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  margin: auto;
}

.resume {
  width: 50%;
  max-width: 600px;
  align-self: flex-end;
}

.resumeWhyDifferent {
  width: 50%;
  max-width: 600px;
  align-self: flex-end;
}


.indentH2 {
  margin-left: 120px;
}

.eachPosition {
  margin: 2rem 10px;
}

.differentH1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background: none;
  color: black;
  font-weight: 300;
  padding-left: 0;
}


.projectsH1 {
  font-size: 1.5rem;
  margin-left: 118px;
  margin-bottom: 1rem;
  background: none;
  color: black;
  font-weight: 300;
  padding-left: 0;
}

.ulDifferent {
  margin-bottom: 3rem;
}

.happyFace {
  position: relative;
  top: 5px;
  margin: 0 10px;
  fill: #ca2e55;
}

.underlined {
  text-decoration: underline !important;
  font-weight: 400 !important;
}

.resumeH3 {
  font-weight: 300;
  margin-top: 30px;
}

.educationH3 {
  font-weight: 300;
  margin-bottom: .0;
  margin-top: 30px;
}

.resume ul {
  margin: 0 0 1rem 0;
  padding-left: 20px;
  list-style-type: square;
}

.resume li {
  font-weight: 300;
  letter-spacing: .01rem;
}

.resume .date {
  font-size: .9rem;
  padding-left: 1rem;
  margin-left: -240px;
  margin-bottom: -56px;
}

.resume p {
  margin: .4rem 0;
  line-height: 1.3rem;
}

.resume p.schoolDescription {
  font-size: 1rem;
  margin: .4rem 0;
  line-height: 1.3rem;
  padding-top: 4px;
}

.position {
  margin-bottom: 0;
  font-weight: 300;
  margin: 0 0 0 22px;
  font-size: .9rem;
  color: #717070;
}

.resume>div>.technologies {
  margin-bottom: .4rem;
  font-weight: 300;
  color: #717070;
  font-size: .4 rem;
}

.resume>div>.date {
  margin-top: 0;
  color: #717070;
}

.portfCircle {
  background-color: #ca2e55;
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
}

.portfCircle:hover {
  background-color: #ed597e;
}

/* .portfCircle:visited {
  background-color: #d3bec4;
} */





@media only screen and (max-width: 600px) {

  .logoFirst {
    left: 10px;
  }

  .resume {
    width: 100vw;
  }

  .resumeWhyDifferent {
    width: 90%;
    margin: auto;
  }

  .resume>div>.date {
    margin: 0;
    padding: 0;
  }

  .resume>div>h3 {
    margin-top: .4rem;
  }
  .eachPosition {
    margin: 50px 20px;
  }

}